<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        Chamado Aberto • Vyron
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/variables.css') }}"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/login.css') }}"
    >

</head>

<body class="login-body">

    <div class="login-container">

        <div class="login-box">

            <div class="login-topo">

                <h1>
                    Chamado aberto!
                </h1>

                <p class="subtitulo-login">
                    A equipe de TI foi acionada.
                </p>

            </div>

            <a
                href="/chamado_rapido"
                class="btn-login"
                style="text-decoration:none; display:flex; align-items:center; justify-content:center;"
            >
                Abrir outro chamado
            </a>

        </div>

    </div>

</body>

</html>