{% extends "base.html" %}

{% block content %}

<div class="pagina">

    <h1 class="titulo">
        Mapa Operacional - BL
    </h1>
    <div class="resumo-operacional">

    <div class="card-resumo">

        <span>Desktops</span>
        <h2>{{ total_desktops }}</h2>

    </div>

    <div class="card-resumo">

        <span>Notebooks</span>
        <h2>{{ total_notebooks }}</h2>

    </div>

    <div class="card-resumo">

        <span>Chamados Abertos</span>
        <h2>{{ total_chamados }}</h2>

    </div>

</div>

    <div class="acoes-mapa">

        <a
            href="/nova_posicao"
            class="btn-primary"
        >
            + Nova Posição
        </a>

        <a
            href="/movimentar_maquina"
            class="btn-warning"
        >
            Movimentar Equipamento
        </a>

        <a
            href="/historico_mapa"
            class="btn-dark"
        >
            Histórico
        </a>

    </div>

    <!-- NOTEBOOKS -->

    <div class="notebooks-container">

        {% for item in mapa_db %}

            {% if "NOTEBOOK" in item.posicao %}

            <div class="notebook-card">

                <div class="topo-baia">

                    <h3>
                        {{ item.posicao }}
                    </h3>

                    {% if item.maquina in maquinas_com_chamado %}

                    <span class="badge aberto">
                        CHAMADO
                    </span>

                    {% else %}

                    <span class="badge resolvido">
                        OK
                    </span>

                    {% endif %}

                </div>

                <div class="usuario-maquina">

                    {% if item.maquina %}

                    <a
                        href="/historico_maquina/{{ item.maquina }}"
                        class="link-maquina"
                    >
                        {{ item.maquina }}
                    </a>

                    {% else %}

                    VAGO

                    {% endif %}

                </div>

                {% for maquina in maquinas %}

                    {% if maquina.id_maquina == item.maquina %}

                    <div class="info-extra-mapa">

                        <span>
                            {{ maquina.modelo }}
                        </span>

                        <span>
                            {{ maquina.usuario_atual }}
                        </span>

                    </div>

                    {% endif %}

                {% endfor %}

                {% if usuario.tipo in ["ti", "administracao"]%}


                <a
                    href="{{ url_for('editar_posicao', posicao=item.posicao) }}"
                    class="btn-mini"
                >
                    Editar
                </a>
                {% endif %}

            </div>

            {% endif %}

        {% endfor %}

    </div>
    
    <!-- MAPA DE DESKTOPS -->
    <div class="mapa-grid">

        <!-- ILHA 1016 -->

        <div class="ilha">

            <h2>
                ILHA 1016
            </h2>

            {% for posicao, desktop in mapa.items() %}

                {% if "1016" in posicao %}

                <div class="baia">

                    <div class="topo-baia">

                        <div class="desktop-id">
                            {{ posicao }}
                        </div>

                        {% if desktop.status == "problema" %}

                        <span class="badge aberto">
                            CHAMADO
                        </span>

                        {% else %}

                        <span class="badge resolvido">
                            OK
                        </span>

                        {% endif %}

                    </div>

                    <div class="usuario-maquina">

                        {% if desktop.maquina %}

                        <a
                            href="/historico_maquina/{{ desktop.maquina }}"
                            class="link-maquina"
                        >
                            {{ desktop.maquina }}
                        </a>

                        {% else %}

                        VAGO

                        {% endif %}

                    </div>

                    {% if desktop.info %}

                    <div class="info-extra-mapa">

                        <span>
                            {{ desktop.info.modelo }}
                        </span>

                        <span>
                            {{ desktop.info.usuario_atual }}
                        </span>

                    </div>

                    {% endif %}

                    <a
                        href="{{ url_for('editar_posicao', posicao=posicao) }}"
                        class="btn-mini"
                    >
                        Editar
                    </a>

                </div>

                {% endif %}

            {% endfor %}

        </div>

        <!-- ILHA 1015 -->

        <div class="ilha">

            <h2>
                ILHA 1015
            </h2>

            {% for posicao, desktop in mapa.items() %}

                {% if "1015" in posicao %}

                <div class="baia">

                    <div class="topo-baia">

                        <div class="desktop-id">
                            {{ posicao }}
                        </div>

                        {% if desktop.status == "problema" %}

                        <span class="badge aberto">
                            CHAMADO
                        </span>

                        {% else %}

                        <span class="badge resolvido">
                            OK
                        </span>

                        {% endif %}

                    </div>

                    <div class="usuario-maquina">

                        {% if desktop.maquina %}

                        <a
                            href="/historico_maquina/{{ desktop.maquina }}"
                            class="link-maquina"
                        >
                            {{ desktop.maquina }}
                        </a>

                        {% else %}

                        VAGO

                        {% endif %}

                    </div>

                    {% if desktop.info %}

                    <div class="info-extra-mapa">

                        <span>
                            {{ desktop.info.modelo }}
                        </span>

                        <span>
                            {{ desktop.info.usuario_atual }}
                        </span>

                    </div>

                    {% endif %}

                    <a
                        href="{{ url_for('editar_posicao', posicao=posicao) }}"
                        class="btn-mini"
                    >
                        Editar
                    </a>

                </div>

                {% endif %}

            {% endfor %}

        </div>

    </div>

</div>
<script>
setTimeout(function(){
    window.location.reload();
}, 30000);
</script>

{% endblock %}